main {
    margin: 1em
}

img {
    float: left;
}

header {
    width: 100%;
    height: 550px;
    background-image: url(/images/Sam\ University.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: large;
  }
  
section.about {
    text-align: center;
}

section.officers {
    float: left;
    clear: both;
}

aside {
    width: 10px;
    float: right;
    background-color: orange;
    padding-left: 1em;
    padding-bottom: 1em;
    border-radius: 10%;
}