html {
    background-image: linear-gradient(to bottom, rgb(1, 24, 75), #a1a0a0 100%);
}

body { 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    background-color: rgb(171, 171, 171);
    margin: 15px auto;
    margin-left: auto;
    padding: 15px 1.5em;
    border: 1px solid blue;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url(/images/Galveston\ Ferris\ Wheel.JPG);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: scroll;
}
a:hover, a:focus {
    font-style: italic;
    color: aqua;
}
header h1 {
    font-size: 175%;
    color: rgb(0, 130, 252);
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: #079bf0;
    text-indent: 30px;
}
header img {
    float: left;
}
.shadow {
    text-shadow: 2px 2px 2px rgb(248, 245, 245);
}
main {
    clear: left;
}
main h3{
    margin: 3em 2em 1.5em;
    border: 5px double aliceblue;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px white;
    padding: 1em;
    font-size: 105%;
    color: aliceblue;
}
main nav{
    margin: 1.5em 2em 1.5em;
    border: 5px dashed aliceblue;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px white;
    padding: .5em;
    color: aliceblue;
}
main div{
    margin: 1.5em 2em 0em;
    border: 5px dotted aliceblue;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px white;
    padding: 1em;
    color: aliceblue;
}
#id {
    line-height: 105%;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
    color: aliceblue;
}
