html {
    background-image: linear-gradient(to left, rgb(1, 24, 75), #a1a0a0 100%);
}

body { 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    background-color: rgb(171, 171, 171);
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}
a:hover, a:focus {
    font-style: italic;
    color: aqua;
    border: 3px blue;
    border-style: dotted solid;
}
header h1 {
    font-size: 175%;
    color: rgb(0, 130, 252);
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: #079bf0;
    text-indent: 30px;
}
header img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    border-bottom: 1em solid maroon;
}
.shadow {
    text-shadow: 2px 2px 2px rgb(248, 245, 245);
}
article {
    clear: both;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted maroon;
    column-gap: 2em;
    margin-left: 2em;
}
article h3 {    
    column-span: all;
}
article img {
    float: left;
    margin-right: 3em;
    margin-bottom: 3em;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: lightgreen;
}
aside {
    width: 20%;
    float: right;
    background-color: #ffebc6;
    padding-left: 1em;
    padding-bottom: 1em;
}
footer {
    clear: both;
    border-top: 1px solid maroon;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
    color: black;
}
p.fixed {
    width: auto;
    position: fixed;
    bottom: 20%;
    right: 0;
    border: 3px solid darkgreen;
    background-color: lightgreen;
    padding: 2em;
}
